@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@layer components {
	.infoText {
		@apply p-4 bg-gray-900 rounded-md max-w-[300px];
	}

	.chatRow {
		@apply rounded-md px-5 py-3 flex border-2 border-gray-900 bg-gray-900 items-center justify-center space-x-2 hover:border-termiRed cursor-pointer text-white hover:text-termiRed  transition-all duration-200 ease-out;
	}
}
